@model IEnumerable<CoffeeModel>

@{
    ViewData["Title"] = "Coffee";
}

<div class="container">
    <h1>Beverages</h1>
    <a href="#" class="btn btn-primary">Create new beverage</a>
    <hr>
    <h3>Last beverages ordererd</h3>
    <ul>
        <li>Beverage 1</li>
        <li>Beverage 2</li>
        <li>Beverage 3</li>
    </ul>
</div>
