@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Coffee Machine</h1>
    <h2>Technical Test - ADNOM</h2>
    <h4>Ignacio Rognoni - rognoni.ignacio@gmail.com - 07 61 12 26 60</h4>
</div>
<div class="container">
    <a class="btn btn-primary">New beverage</a>
</div>
