@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Coffee Machine</h1>
    <h2>Technical Test - ADNEOM</h2>
    <h4>Ignacio Rognoni - rognoni.ignacio@gmail.com - 07 61 12 26 60</h4>
</div>
<div class="container">
    <a asp-area="" asp-controller="Coffee" asp-action="Index" class="btn btn-primary">Beverages</a>
</div>
